section {
  width: 100vw;
  min-height: 100vh;
  padding: 10rem 6vw 0 6vw;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  align-items: start;
  justify-items: center;
}

h2 {
  place-self: start;
  align-self: start;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: .5px;
  grid-area: 1 / 1;
}

p {
  margin: 3rem 0 0 0;
  max-width: 50%;
  place-self: start;
  grid-area: 1 / 1;
}

img {
  max-height: 60vh;
  display: block;
  max-height: 60vh;
  margin: 2rem 0 0 0;
}

#caffeine-content {
  grid-area: 2 / 1 / 2 / 3;
  place-self: center;
}

#caffeine-effect {
  grid-area: 1 / 2;
}

#caffeine-icon {
  place-self: end;
  align-self: end;
  grid-area: 1 / 1;
}
