section {
  width: 100vw;
  height: 100vh;
  padding: 4rem 6vw 0 6vw;
  display: grid;
  grid: 4rem 1fr 2fr / 1fr 1fr;
  align-items: start;
  justify-items: center;
}

h2 {
  place-self: start;
  align-self: end;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: .5px;
}

p {
  margin: 1rem 0 0 0;
}

.cycle {
  background-color: hsla(200, 20%, 100%, 1);
  display: block;
  width: 80%;
  height: 66%;
  margin: 1rem 0 0 0;
}

.illustration-image {
  max-height: 60vh;
}

.atmospheric-image {
  max-height: 60vh;
}

.atmospheric {
  background-color: hsla(200, 20%, 100%, 1);
  display: block;
  width: 100%;
  height: 90%;
  max-height: 60vh;
  margin: 2rem 0 0 0;
}
